*{
   padding: 0;
   margin: 0; 
}
header{
   background-color: white; padding: 22px 0; 
   font-family: 'Poppins';
}
.container{
   max-width: 1200px; 
   margin: auto; 
   display: flex; 
   justify-content: space-between; 
   align-items: center;
}
.logo{
   margin-left: 32px; 
   display: inline-block;
}
header ul{
   display: flex;
   align-items: center; 
   list-style: none;
}
header ul li{
   margin-left: 32px;
   transition: 0.3s;
}
header ul li:hover{
   transform: scale(1.2)
}
header ul li:hover a{
   color: red;
}
header ul li a:focus{
   background: green;
}
header nav li a{
   font-size: 15px; 
   color: #1B1A1A; 
   display: inline-block;
   text-decoration: none;
}
header ul li:nth-child(5){
   margin: 0 0 0 32px;
}
header ul li:last-of-type{
   margin-right: 20px;
}
header nav li:last-of-type a{
   padding: 11px 20px; 
   border-radius: 14px; 
   font-size: 16px;
   color: #fff; 
   background: #1B1A1A; 
   display: inline-block;
   text-decoration: none;
}
.main-section{
   background-color: #ECE7E4; 
   padding-top: 137px; 
   padding-bottom: 128px; 
   background-image: url("../images/bg-banner.jpg"); 
   background-position: right; 
   background-repeat: no-repeat;
}
.main-section-main-container{
   max-width: 1240px; 
   margin: auto;
}
.main-section-container{
   max-width: 509px;
}
.title-wishbone{
   font-family: 'Poppins';
   font-weight: 400;
   font-size: 14px;
   line-height: 20px;
   letter-spacing: 2px;
   text-transform: uppercase;
   color: #645C55;
   margin-bottom: 20px;
}
.main-title{
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 64px;
   line-height: 70px;
   color: #1B1A1A;
   margin-bottom: 18px;
}
.main-text{
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   color: #403E3B;
   margin-bottom: 41px;
}
.read_more{
   display: inline-block;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 0.4px;
   color: #1B1A1A;
   margin-left: 25px;
}
.what_we_do{
   padding: 100px 0;
   background-color: #E5E5E5;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
}
.what_we_do-container{
   max-width: 1200px;
   margin: auto;
   text-align: center;
}
.what_we_do-container h3{
   font-weight: 400;
   font-size: 14px;
   line-height: 20px;
   text-align: center;
   letter-spacing: 2px;
   text-transform: uppercase;
   color: #645C55;
}
.what_we_do-container h2{
   font-weight: 400;
   font-size: 39px;
   line-height: 42px;
   text-align: center;
   color: #1B1A1A;
   margin-top: 13px;
   margin-bottom: 47px;
}
.what_we_do-container a{
   display: inline-block;
   max-width: 117px;
}
.process{
   display: flex;
   justify-content: space-around;
}
.process h3{
   margin-top: 15px;
   margin-bottom: 10px;
}
.sketching{
   max-width: 294px;
}
.sketching h3{
   font-weight: 400;
   font-size: 18px;
   line-height: 26px;
   text-align: center;
   color: #403E3B;
   text-transform: none;
}
.sketching p{
   font-size: 15px;
   line-height: 24px;
   text-align: center;
   color: #645C55;
}
.finalizing{
   max-width: 280px;
}
.finalizing h3{
   font-weight: 400;
   font-size: 17px;
   line-height: 26px;
   text-align: center;
   color: #403E3B;
   text-transform: none;
}
.finalizing p{
   font-size: 15px;
   line-height: 24px;
   text-align: center;
   color: #645C55;
}
.building{
   max-width: 270px;
}
.building h3{
   font-weight: 400;
   font-size: 17px;
   line-height: 26px;
   text-align: center;
   color: #403E3B;
   text-transform: none;
}
.building p{
   font-size: 15px;
   line-height: 24px;
   text-align: center;
   color: #645C55;
}
.section{
   padding: 100px 0; background-color: #CEC4BC;
}
.section-main-container{
   max-width: 1168px; 
   margin: auto; 
   display: flex; 
   justify-content: space-between; 
   align-items: center;
}
.section-container{
   max-width: 569px;
}
.section-title{
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 20px;
   letter-spacing: 2px;
   text-transform: uppercase;
   color: #645C55;
}
.section-text{
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 40px;
   line-height: 42px;
   color: #1B1A1A;
}
.section-link{
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 0.4px;
   color: #1B1A1A;
   margin-right: 20px;
}
footer{
   padding: 60px 0; 
   background-color: #F7F7F7;
}
.footer-main-container{
   max-width: 1168px; 
   margin: auto; 
   display: flex; 
   justify-content: space-between;
}
.footer-link{
   display: inline-block; 
   margin-bottom: 20px;
}
.copyrights{
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 13px;
   line-height: 20px;
   color: #645C55;
}
.icons{
   display: flex; 
   list-style: none;
}
.icons-list-twitter{
   margin: 62px 20px 0 0;
}
.icons-links{
   display: inline-block;
}
.icons-list-insta{
   margin: 60px 20px 0 0;
}
.icons-list-facebook{
   margin: 60px 6px 0 0;
}
.owl-carousel .owl-stage{
   display: flex;
   justify-content: space-between;
   text-align: center;
}
.owl-dots{
   text-align: center;
   justify-content: center;
}
.owl-dot span{
   display: inline-block;
   width: 20px;
   height: 20px;
   background-color: #CEC4BC;
   border-radius: 50%;
   transition: width .2s linear;
   border: #403E3B solid 1px;
   margin: 0 15px;
}
.owl-dot.active span{
   display: inline-block;
   width: 20px;
   height: 20px;
   background-color: #ffc107;
   border-radius: 50%;
   margin: 0 15px;
}
.ui-widget.ui-widget-content{
   box-shadow: 5px 5px 3px #000;
   border-radius: 10px;
}
.ui-widget-header{
   border: none;
   background: #ffc107;
   color: #333333;
   font-weight: 700;
   font-size: 18px;
   font-family: 'Poppins';
}
.ui-dialog .ui-dialog-content{
   font-size: 18px;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 500;
}